.container {
    box-sizing: border-box;
    border: 1px solid #e5e7eb;
    background-color: #171717;
    color: white;
    font-weight: 600;
    font-size: .75rem;
    line-height: 1rem;
    padding: .125rem .625rem;
    border-radius: 6px;
    align-items: center;
    width: fit-content;
}