@import '../../style/costants';

.mainContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
    
    @media (min-width: $tablet) {
        justify-content: space-between;
        flex-direction: row;
        gap: 0;
    }
    
    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #08090A;
        gap: 1rem;
        
        .mainText {
            font-size: 2.5rem;
            line-height: 1;
            letter-spacing: -.07em;
            font-weight: 700;
            text-align: center;
            @media (min-width: $mobile-medium) {
                font-size: 3.5rem;
            }
        }

        .secondaryText {
            font-size: 1rem;
            line-height: 1.75rem;
            max-width: 500px;
            @media (min-width: $mobile-medium) {
                font-size: 1.25rem;
            }
        }
    }

    
    .image {
        border-radius: 50%;
        width: 110px;
        height: 110px;
        aspect-ratio: 1 / 1;
    }
}
